*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --hd--col : rgb(1, 71, 1);
    --hd2--col : rgb(122, 8, 8);
    --p--col: rgb(41, 40, 40);
    --cta--col : white;
    --fm--bg : rgb(249, 252, 249);
    --con-col: rgb(196, 223, 196);
    --cta-contrast:  rgb(225, 236, 219);
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
ul, li{
    list-style: none;
    padding: .5em;
}
p{
    color: var(--p--col);
    padding: .2em;
}
.nav-b{
    position: fixed;
    /* transition: 0.7s; */
    right: 0;
    top: 0;
    margin: 0;
    height: 100%;
    width: 0;
    background-color: rgba(230, 255, 243, 0.925);
}
.navBar{
    /* display: none; */
}
.links{
    /* color: var(--hd--col); */
}
.links:hover{
    color: var(--hd2--col);
    cursor: pointer;
}
.bars button{
    background-color: transparent;
    outline: none;
    border: none;
}
.closebtn{
}
nav{
    /* display: none; */
    opacity: 1;
    background-color: rgb(253, 244, 244);
    width: 10rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(54, 53, 53);
    /* transition: 0.7s; */
}
nav a{
    text-decoration: none;
    color: var(--hd--col);
    font-family: monospace;
    transition: .7s;
}
header{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--cta--col);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 4em;
}

.flex-sp{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-col-sp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.flex-spa{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-r{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-n{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pad-lr{
    padding: .7em .9em;
}
.s-pad{
    padding: .9em .9em;
}
.pad-n{
    padding: .5em;
}
.mg-top{
    margin-top: 2.7em;
}
.mg-tb{
    margin-top: 1.2em;
    margin-bottom: 2.2em;
}
.mg-n{
    margin: .9em;
}
.sec-mg{
    margin: 2em 0;
}
.hd-mg{
    margin-top: 2em;
    margin-bottom: 1em;
}
.txt-cen{
    text-align: center;
}
.txt-rt{
    text-align: right;
}
.txt-lt{
    text-align: left;
}
.txt-jus{
    text-align: justify;
}
.txt-green{
    color: var(--hd--col);
}
.txt-red{
    color: var(--hd2--col);
}
.cd-bgCol{
    background-color: rgba(243, 255, 240, 0.377);   
}
.col-white{
    color: var(--cta--col);
}
.cta-contrast{
    background-color: var(--cta-contrast);
}
.dis-none{
    display: none;
}
.width{
    width: 100%;
}
.bg-image{
    width: 100%;
    height: 100%;
    background-image: url(images/bg-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .1;
}
.bg-image > img{
    width: 100%;
    height: auto;
}
.sec1{
    line-height: 3.8em;
    padding: 0;
    text-align: center;
    color: white;
    min-height: 100vh;
    background-color: black;
    max-height: 70vh;
    height: 100vh;
}
.sec1-h1{
    z-index: 2;
    position: absolute;
    top: 25%;
    font-size: large;
    letter-spacing: 5px;
    left: 0;
    right: 0;
}
.sec2{
    overflow: hidden;
    position: relative;
    display: grid;
    place-items: center;
}
.sec2-w{
    width: 100%;
}
#contact{

}
html{
    scroll-behavior: smooth;
}
.contact{
    background-color: var(--con-col);
    padding: 4em .2em;
}
.cta1{
    padding: .9em;
    background-color: transparent;
    color: white;
    font-weight: 700;
    border: none;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-radius: 10px;
}
.cta1:hover{
    color: white;
    border-right: 2px solid red;
    border-bottom: 2px solid green;
}
.cta2{
    padding: .9em;
    background-color: var(--hd--col);
    color: var(--cta--col);
    font-weight: 700;
    border: none;
    border-radius: 7px;
    transition: .5s;
}
.cta2:hover{
    position: relative;
    /* padding: 10px; */
    transition: .7s;
    background-color: var(--hd2--col);
    /* font-size: 2em; */
    transform: rotate(360deg);
    translate: x;
}
.btn{
    padding: .5em
}
.sec-image{
    max-height: 5rem;
    position: absolute;
    top: 0px;
    right: -10px;
}
.card{
    border-radius: 20px;
    padding: 1.3em .9em;
    max-width: 20em;
    min-width: 5em;
    margin-left: 1.2em;
    margin-right: 1.2em;
}
.git{
    margin-bottom: 4em;
}
.form-card{
    max-width: 15em;
    min-width: 2em;
    background-color: var(--fm--bg);
}
.fm-card{
    background-color: var(--fm--bg);
}
.fm-card  input{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--hd--col);
    background-color: transparent;
    height: 2em;
    padding: 1.4em;
    font-size: medium;
    font-weight: 700;
    border-radius: 7px;
    color: var(--hd--col);        
}
form{
    background-color: var(--fm--bg);
}
form > div{
    margin: 2em 0;
}
.sub{
    background-color: var(--hd2--col);
    padding: .9em;
    color: var(--cta--col);
    font-weight: 700;
    border: none;
    border-radius: 7px;
    transition: .5s;
}
.sub:hover{
    padding: 1.1em;
    transition: .5s;
    background-color: transparent;
    border-left: 2px solid var(--hd2--col);
    border-bottom: 2px solid var(--hd2--col);
    border-radius: 20px;
    color: var(--hd--col);
}
#logo{
    width: fit-content;
}
#logo > img{
    width: 5em;
    max-height: 3em;
}
.sec{
    max-width: 60em;
}
.sec-fit{
    width: 100%;
}
.sec-img{
    width: 10em;
}
.sec-img > img{
    max-width: 100%;
}
.z-index{
    z-index: 100;
}
footer{
    padding: 1.5em;
    background-color: var(--hd--col);
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    z-index: -1;
}
footer  i {
    margin: .2em 1.2em;
}
.footer-links{
    max-width: 30em;
    margin: auto;
}
div{
    /* border: 1px solid red; */
}



/* SERVICES TWEAKS */
.mag-top{
    margin-top: 10rem;
}
.buffet{
    background-image: url(images/buffet.png);
    height: 20rem;
    background-position: top;
    background-repeat: no-repeat;
    /* margin-top: 10em; */
}
.overlays{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.overlay{
    width: 100%;
    max-height: 25rem;
    height: 30rem;
}
.overlay img{
    width: 100%;
    position: relative;
}
.lay1-bg{
    background-image: url(images/overlay\ 1.jpg);
}
.lay2-bg{
    background-image: url(images/lay2.jpg);
}
.lay3-bg{
    background-image: url(images/lay3.png);
}
.lay4-bg{
    background-image: url(images/lay4.webp);
}
.lay1{
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    max-width: 25rem;
    
}
.lay1::before{
    content: "";
    background-color: rgba(0, 0, 0, 0.767);
    top: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
}
.lay1::after{
    content: "";
    top: 45%;
    position: absolute;
    color: var(--cta--col);
    /* left: 20%; */
    font-size: 3rem;
    text-align: center;
    display: grid;
    place-items: center;
}
.dis-abs{
    display: absolute;
    z-index: 2;
}



/* ORDER TWEAKS */
.mag-tb{
    margin: 1.1em 0;
}
.width-50{
    width: 50%;
}
.select-dish{
    /* margin: 5px; */
}
.border{
    border: none;
    border-radius: 10px;
}
.select-dish  option{
    background-color: var(--con-col);
    text-align: center;
    color: var(--hd--col);
    outline: none;
    border: none;
}
.sub-select{
    margin: 0 5px;
}
.neg-mag-top{
    margin-top: -1.5em;
}
.quantity{
    background-color: var(--hd--col);
}
.ord-main{
    background: linear-gradient( to right, rgba(0, 0, 0, 0.801),  rgba(0, 0, 0, 0.747)),   url(images/ord-main.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}
.order-form{
    border-radius: 20px;
    background-color: var(--cta--col);
    margin: 4em 0;
    max-height: 35rem;
    min-width: 18em;
}
.tel{
    background-color: var(--cta-contrast);
    font-style: italic;
}

@media only screen and (min-width: 600px) {
    .overlays{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2,1fr);
        place-items: center;
        grid-gap: .5em;
    }
    .overlay{

    }
    .contact-elements{
        display: grid;
        place-items: center;
    }
    body{
        /* background-color: black; */
    }
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: visible;
        max-height: fit-content;
        position: relative;
    }
    nav ul{
        display: flex;
        position: relative;
        padding: 0;
        font-size: .5em;
    }
    .sec1-h1{
        top: 40%;
    }
    .closebtn{
        display: none;
    }
    .nav-b{
        width: 100%;
        position: relative;
        background-color: transparent;
        display: flex;
        padding: 0;
    }
    .bars{
        display: none;
    }
    .nav{
        display: block;
    }
    .navBar{
        display: block;
    }
}



@media only screen and (min-width: 1000px){
    .overlays{
        display: flex;
        flex-direction: row;
    }
.ove-mag-top{
    margin-top: 10rem;
}
.ove-mag-lr{
    margin-left: 2em;
    margin-right: 2em;
}
    
    .sec2{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 2em 0;
        width: 100%;
        position: relative;
    }
    header{
        display: flex;
        flex-direction: row;
    }
    .sec1-h1{
        top: 35%;
    }
    .sec-image {
        top: 2px;
        display: none;
    }
    .card{
        margin:  0 4em !important;
        width: 35em;
        max-height: 22em;
    }
    .contact{
        padding: 4em;
    }
    .contact-elements{
        display: flex;
        align-items: center;
        justify-content: space-around; 
        max-width: 70em; 
    }
    .adress{

    }
    .nav{
        display: block;
    }
    .closebtn{
        display: none;
    }
    .navBar{
        display: block;
    }
    nav ul{
        font-size: 1.1em;
    }
    .nav-b{
        /* display: none; */
        position: relative;
        width: 100%;
        background-color: transparent;
        font-size: 1.1em;
    }
    nav{
        display: flex;
        background-color: transparent;
        width: 100%;
        height: 100%;
        font-weight: 600;
        font-size: 1.1rem;
        color: var(--hd--col);
    }
    nav ul{
        display: flex;
        padding: 0;
    }
    nav li{
        margin: 0 1.2em;
    }
    header{
        display: flex;
        justify-content: space-between;
        padding: .7em 3em !important;
    }
    .bars{
        display: none;
    }
}



